<!DOCTYPE html>
<html>
  <% include partial/header.ejs %>

  <body>
    <% include partial/judul.ejs %>
    <p>About Page</p>
    <p>Current Page: <%= page %></p>
    <p>Created at: <%= created %></p>

    <ul>
      <%= products.pages[page] %>
    </ul>
  </body>
</html>
