<%include partial/header.ejs %>
<body>
  <form id="daftar" method="POST" action="/kontak-post">
    <label for="name">Namamu siapa?</label>
    <input type="text" name="name" value="" />
    <input type="submit" value=" D A F T A R " />
  </form>
</body>
