<head>
  <title>Index HTML</title>
  <style>
    body {
      background: green;
      font-family: verdana;
      color: white;
      padding: 150px;
    }
    h1 {
      font-size: 72px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
    }
    p {
      font-size: 32px;
      text-align: center;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    ul li > a {
      color: #fff;
      font-size: 23px;
      text-align: center;
    }
    ul#products {
      display: block;
    }
    ul#products > li {
      display: inline-block;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
